.cardWrapper {
  width: 500px;
  height: 400px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  div {
    flex: 1;
  }
}

@media (max-width: 540px) {
  .cardWrapper {
    width: auto;
    height: 800px;
    flex-direction: column;
  }
}
